/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

$base-color: lighten(#008000, 20%);
$background-color: lighten(#F8F8FF, 38%);
$font-family: dynamic(arial);
$checkboxfield-checkbox-color: lighten(red, 10%);
